<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wly.redis.mapper.CustomerMapper">

    <resultMap id="UserMap" type="com.wly.redis.model.domain.Customer">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="cname" column="cname" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertOneCustomer" parameterType="Customer">
        insert into t_customer (id, cname, age, phone, sex, birth)
        values (#{id}, #{cname}, #{age}, #{phone}, #{sex}, #{birth})
    </insert>
    <select id="queryOneCustomerById" resultType="Customer">
        select * from t_customer
        where id = #{id}
    </select>

</mapper>